.createForm {
    composes: body from '../shared_css/fonts.css';
    width: 80%;
    max-width: 600px;
    margin: 30px auto;
}

.inputWrapper {
    margin: 1rem 0 0;
}

.formLabel {
    font-weight: bold;
}

.overview {
    composes: fieldset from '../shared_css/fieldset.css';
    margin: 20px auto;
}

.input {
    composes: input from '../shared_css/input.css';
    width: 50%;
    margin-left: 0.25rem;
}

.textArea {
    composes: textarea from '../shared_css/textarea.css';
}

.blockLabel {
    display: block;
}

.legend {
    composes: legend from '../shared_css/legend.css';
    font-weight: bold;
}