.instructionsWrapper {
    text-align: center;
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
}

.instructions {
    text-align: left;
}

.createForm {
    width: 80%;
    max-width: 600px;
    margin: 30px auto;
}

.inputWrapper {
    margin: 10px 0;
}

.warningWrapper {
    text-align: center;
}

.warning {
    display: inline-block;
    font-size: 0.8rem;
    margin: 0 auto; 
    font-style: italic;
}

.hideWarning {
    composes: warning;
    visibility: hidden;
}