.createForm {
    composes: body from '../shared_css/fonts.css';
    width: 80%;
    max-width: 600px;
    margin: 30px auto;
}

.inputWrapper {
    margin: 10px 0;
}

.warningWrapper {
    text-align: center;
}

.warning {
    display: inline-block;
    font-size: 0.8rem;
    margin: 0 auto; 
    font-style: italic;
}

.hideWarning {
    composes: warning;
    visibility: hidden;
}

.overview {
    margin: 20px auto;
}

.input {
    composes: body from '../shared_css/fonts.css';
    padding: 0.15rem;
}

.textArea {
    composes: body from '../shared_css/fonts.css';
    width: 90%;
    display: block;
    margin: 10px auto;
    resize: vertical;
}

.blockLabel {
    display: block;
}