.creditsWrapper {
    text-align: center;
    padding: 1px 0 10px;
    background: lightgrey;
    max-width: 400px;
    margin: 0 auto;
}

.credits {
    background: lightyellow;
    padding: 5px;
}
