.error {
    composes: body from '../shared_css/fonts.css';
    margin: 0;
    color: var(--c-warning-dk);
    margin: 0.25rem 0;
    font-size: 0.85rem;
}

.center {
    text-align: center;
}

.roomyTopBot {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.textArea {
    width: 90%;
    margin: auto;
}

.lt {
    color: var(--c-warning);
}

.dk {
    color: var(--c-warning-dk2);
}