.buttonLink {
    composes: default roomyTopBot from "./Button.module.css";
    text-decoration: none;
    display: inline-block;
}

.buttonLink:focus {
    box-shadow: 0 0 0 2px var(--c-secondary-dk);
}