.featureWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.feature {
    composes: body from '../shared_css/fonts.css';
    composes: card from '../shared_css/boxshadow.css';
    composes: card from '../shared_css/radius.css';
    background: var(--c-secondary);
    text-align: center;
    margin: 20px;
    width: 90%;
    max-width: 400px;
    padding: 10px;
}

.featureTitle {
    composes: heading from '../shared_css/fonts.css';
    color: var(--c-accent1);
}

.featureName {
    margin-left: 1rem;
    color: var(--c-primary-dk);
}

.content {
    width: 90%;
    text-align: left;
    margin: 0 auto 1rem;
}

@media (max-width: 450px) {
    .featureTitle {
        font-size: 1.25rem;
    }

    .content {
        width: 80%;
    }
}