.footer {
    composes: body from '../shared_css/fonts.css';
    background: lightgrey;
    text-align: center;
    flex-shrink: 0;
    width: 100%;
}

.para {
    margin: 0;
    padding: 20px;
}