.formContainer {
    composes: body from '../shared_css/fonts.css';
    composes: card from '../shared_css/radius.css';
    composes: card from '../shared_css/boxshadow.css';
    margin: 1rem auto;
    width: 90%;
    text-align: center;
}

.formNameWrapper {
    position: relative;
    height: 3rem;
    composes: card-top from '../shared_css/radius.css';
}

.formName {
    composes: heading from '../shared_css/fonts.css';
    color: var(--c-text-lt);
}

.details {
    composes: card-bottom from '../shared_css/radius.css';
    background: var(--c-secondary);
    position: relative;
    padding: 1rem;
}

.detailsHidden {
    composes: details;
    display: none;
}

.requestButtonWrapper {
    padding-top: 0.75rem;
}

.credits {
    background: var(--c-accent1);
    composes: button from '../shared_css/radius.css';
    padding: 5px;
    margin: 0 5px;
    font-weight: bold;
}

.requestInfo {
    margin: 1rem auto 0.5rem;
}

.shareLinkWrapper {
    margin: 0.5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
}

.urlInput {
    composes: input from '../shared_css/input.css';
    text-align: center;
    flex-grow: 1;
}

.btnText {
    display: none;
}

@media (min-width: 500px){
    .btnText {
        display: inline-block;
        padding-left: 0.25rem;
    }
}