.formContainer {
    composes: body from '../shared_css/fonts.css';
    background: lightgrey;
    margin: 1rem auto;
    width: 90%;
    text-align: center;
}

.formNameWrapper {
    position: relative;
    height: 3rem;
}

.formName {
    composes: heading from '../shared_css/fonts.css';
    /* display: inline-block; */
    /* margin: 1rem 0; */
    /* padding: 0 1rem; */
    color: black;
}

.details {
    background: lightsalmon;
    position: relative;
}

.detailsHidden {
    composes: details;
    display: none;
}

.pendingRequests {
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.credits {
    background: lightyellow;
    padding: 5px;
    margin: 0 5px;
}

.warning {
    display: inline-block;
    font-size: 0.8rem;
    margin: 0 auto; 
    font-style: italic;
    background: lightgrey;
    padding: 3px;
    border-radius: 5px;
}

.hideWarning {
    composes: warning;
    display: none;
}

.requestInfo {
    margin: 1rem auto 0.5rem;
}

.urlInput {
    composes: input from '../shared_css/input.css';
    margin-bottom: 0.5rem;
    text-align: center;
}

.shareLinkWrapper {
    margin: 0.5rem auto;
}