.formContainer {
    background: lightgrey;
    margin: 15px auto;
    width: 90%;
    text-align: center;
}

.formNameWrapper {
    position: relative;
    height: 3rem;
}

.formName {
    /* display: inline-block; */
    /* margin: 1rem 0; */
    /* padding: 0 1rem; */
    color: black;
}

.details {
    background: lightsalmon;
}

.detailsHidden {
    composes: details;
    display: none;
}

.requestInfo {
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
}

.pendingRequests {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.requestButtonWrapper {
    padding: 5px;
}

.credits {
    background: lightyellow;
    padding: 5px;
    margin: 0 5px;
}

.warning {
    display: inline-block;
    font-size: 0.8rem;
    margin: 0 auto; 
    font-style: italic;
    background: lightgrey;
    padding: 3px;
    border-radius: 5px;
}

.hideWarning {
    composes: warning;
    display: inline-block;
    visibility: hidden;
}

.shareLinkWrapper {
    margin: 0 auto;
    padding: 10px 0;
}