.topBar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background: lightgrey;
}

.appTitle {
    font-weight: bold;
}

.username {
    font-style: italic;
    padding: 0 1rem;
}