.topBar {
    composes: body from '../shared_css/fonts.css';
    background: lightgrey;
    width: 100%;
    flex-shrink: 0;
    padding: 10px 15px;
}

.wrapper {
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}

.appTitle {
    composes: display from '../shared_css/fonts.css';
    font-weight: bold;
}

.username {
    font-style: italic;
    padding: 0 0.5rem;
}

.logName {
    display: flex;
    align-items: center;
}