.question {
    margin: 20px auto;
    position: relative;
}

.textArea {
    composes: textarea from '../shared_css/textarea.css';
}

.blockLabel {
    display: block;
}

.legend {
    composes: legend from '../shared_css/legend.css';
    font-weight: bold;
}