.reviewFeedback {
    composes: body from '../shared_css/fonts.css';
}

.center {
    text-align: center;
}

.formName {
    composes: center;
    font-size: 1.25rem;
    margin: 0.5rem auto;
}

.innerHeading {
    font-weight: 400;
}

.table {
    composes: card from '../shared_css/boxshadow.css';
    composes: card from '../shared_css/radius.css';
    max-width: 600px;
    width: 90%;
    margin: 20px auto;
}

.username {
        overflow: hidden;
        white-space: nowrap;
}