.heading {
    text-align: center;
}

.innerHeading {
    font-weight: 400;
}

.table {
    max-width: 600px;
    margin: 20px auto;
}
/* 
.gridContainer {
    display: grid;
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    border: 2px solid black
}

.col1 {
    grid-column-start: 1;
}

.col2 {
    grid-column-start: 2;
}

.col3 {
    grid-column-start: 3;
}

.gridHeading {
    background: lightgray;
    border: 2px solid black;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

.col1Head {
    composes: col1 gridHeading;
}

.col2Head {
    composes: col2 gridHeading;
}

.col3Head {
    composes: col3 gridHeading;
}

.gridItem {
    border: 2px solid black;
    text-align: center;
    padding: 5px 0;
}

.col1Item {
    composes: col1 gridItem;
}

.col2Item {
    composes: col2 gridItem;
}

.col3Item {
    composes: col3 gridItem;
} */