.center {
    text-align: center;
}

.formName {
    composes: center; 
    font-size: 1.25rem;
    margin: 0.5rem auto;
}

.innerHeading {
    font-weight: 400;
}

.table {
    max-width: 600px;
    margin: 20px auto;
}