.row {
    display: flex;
    flex-flow: row nowrap;
    padding: 10px 0;
    align-items: center;
}


.even {
    composes: row;
    background: lightblue;
}

.odd {
    composes: row;
    background: lightyellow;
}

.heading {
    composes: row;
    font-weight: bold;
    background: lightgrey;
    border-bottom: 2px solid darkslategray;
}

.cell {
    text-align: center;
    flex-grow: 1;
    flex-basis: 0;
}