.row {
    display: flex;
    flex-flow: row nowrap;
    /* padding: 10px 0; */
    align-items: center;
}

.row:last-child {
    border-radius: 0 0 8px 8px;
}


.even {
    composes: row;
    background: var(--c-primary-lt);
}

.odd {
    composes: row;
    background: var(--c-primary-lt2);
}

.heading {
    composes: card-top from '../shared_css/radius.css';
    composes: row;
    font-weight: bold;
    font-size: 1.25rem;
    color: var(--c-text-lt);
    background: var(--c-primary-dk);
}

.cell {
    text-align: center;
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px 0;
}