.userForm {
    composes: body from '../shared_css/fonts.css';
    margin: 2rem auto;
    width: 90%;
    max-width: 300px;
}

.legend{
    composes: heading from '../shared_css/fonts.css';
    text-align: center;
}

.inputWrapper {
    margin: 10px auto 10px;
    display: flex;
    flex-direction: column;
    max-width: 225px;
}

.input {
    composes: body from '../shared_css/fonts.css';
    padding: 0.25rem;
}

.toggleWrapper {
    margin: 1rem auto;
    width: 75%;
    border-top: 1px solid black;
    text-align: center;
}

.label {
    display: block;
    padding: 0.15rem 0;
}

.hide {
    display: none;
}

.demoWrapper {
    margin: 0 auto;
    width: 75%;
    text-align: center;
    border-top: 1px solid black;
}