.userForm {
    composes: body from '../shared_css/fonts.css';
    margin: 2rem auto;
    width: 90%;
    max-width: 300px;
}

.fieldset {
    composes: card from '../shared_css/boxshadow.css';
    composes: card from '../shared_css/radius.css';
    border: none;
    background: var(--c-secondary);
}

.inputWrapper {
    margin: 10px auto 10px;
    display: flex;
    flex-direction: column;
    max-width: 225px;
}

.input {
    composes: input from '../shared_css/input.css';
}

.toggleWrapper {
    margin: 1rem auto;
    width: 75%;
    text-align: center;
}

.label {
    display: block;
    font-weight: bold;
    padding: 0.15rem 0;
}

.hide {
    display: none;
}

.demoWrapper {
    margin: 0 auto;
    width: 75%;
    text-align: center;
}