.viewFeedbackWrapper{
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

.reviewerHeading {
    text-align: center;
}

.dateHeading {
    text-align: center;
}

.questionResponseWrapper {
    background: lightgrey;
    padding: 5px 10px;
    margin: 10px 0;
}