/***** Border-box *****/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/***** Global Default Styles *****/

body {
    margin: 0;
}

/***** 3rd Party Component Styles *****/

/* <Link> */
.Link.btnStyle {
    display: inline-block;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    background: darkslategray;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin: 0 5px;
    line-height: 1;
}

.Link.btnStyle:hover {
    background: black;
}

.Link.btnStyle:focus {
    outline: none;
    box-shadow: 0 0 0 2px blue;
}

.Link.roomy {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.Link.topRight {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

/* <FontAwesomeIcon> */

.FA.right {
    position: absolute;
    right: 1.5em;
    margin: auto;
    top: 0;
    bottom: 0;
    color: black;
}

.FA.marginRt {
    margin-right: 0.25rem;
}

.FA.bullet {
    color: grey;
    margin-right: 0.8rem;
}